$primary: #ffffff;
$secondary: #fff111;
$background: #242424;

$font: Helvetica, sans-serif;

* {

box-sizing: border-box;
margin: 0;
padding: 0;

}

body {

background: $background;

}


main {

height: 80%;
width: 80%;
background: #000;
margin: auto;
display: flex;
justify-content: center;
align-items: center;

.buttons {

background: rgb(17, 17, 17);
margin: auto;
padding: 50px;


&__row {

display: flex;
width: 100%;
justify-content: center;
align-items: center;


}

&__btn {

height: 80px;
width: 80px;
background: #414141;
margin:10px;
border-radius: 5%;
box-shadow: 0px 6px 0px #363636, inset 0px 0px 1px #ffffff80, inset 0px 1px 0px #ffdede2d;
transition: 100ms ease;

}



&__btn:hover {

    box-shadow: 0px 4px 0px #363636, inset 0px 0px 1px #ffffff80, inset 0px 1px 0px #ffdede2d;
    transform: scale(0.95) translateY(5px);
   cursor: pointer;
   transition: 120ms ease;

}



.lit:nth-child(8n+1) {

    box-shadow: 0px 6px 0px #363636,0px 0px 10px 2px #21ff85d2,inset 0px 0px 1px #ffffff80, inset 0px 1px 0px #ffdede2d;
    background: #00ff62;

}

.lit:nth-child(8n+2) {

    box-shadow: 0px 6px 0px #363636,0px 0px 10px 2px #21fff4d2,inset 0px 0px 1px #ffffff80, inset 0px 1px 0px #ffdede2d;
    background: #00fff2;

}

.lit:nth-child(8n+3) {

    box-shadow: 0px 6px 0px #363636,0px 0px 10px 2px #2189ffd2,inset 0px 0px 1px #ffffff80, inset 0px 1px 0px #ffdede2d;
    background: #0077ff;

}

.lit:nth-child(8n+4) {

    box-shadow: 0px 6px 0px #363636,0px 0px 10px 2px #c021ffd2,inset 0px 0px 1px #ffffff80, inset 0px 1px 0px #ffdede2d;
    background: #a200ff;

}

.lit:nth-child(8n+5) {

    box-shadow: 0px 6px 0px #363636,0px 0px 10px 2px #ff216bd2,inset 0px 0px 1px #ffffff80, inset 0px 1px 0px #ffdede2d;
    background: #ff006a;

}

.lit:nth-child(8n+6) {

    box-shadow: 0px 6px 0px #363636,0px 0px 10px 2px #ff2121d2,inset 0px 0px 1px #ffffff80, inset 0px 1px 0px #ffdede2d;
    background: #ff0000;

}

.lit:nth-child(8n+7) {

    box-shadow: 0px 6px 0px #363636,0px 0px 10px 2px #ffd16dd2,inset 0px 0px 1px #ffffff80, inset 0px 1px 0px #ffdede2d;
    background: #ff6600;

}

.lit:nth-child(8n+8) {

    box-shadow: 0px 6px 0px #363636,0px 0px 10px 2px #fbff21d2,inset 0px 0px 1px #ffffff80, inset 0px 1px 0px #ffdede2d;
    background: #fffb00;

}




&__indicator {

    height: 10px;
    width: 80px;
    background: #8b500d;
    margin:10px;
    border-radius: 5%;
    box-shadow: 0px 3px 0px #814704, inset 0px 0px 1px #ffffff80, inset 0px 1px 0px #ffdede2d;

}

.indi-lit {

  background: #ff9925;

    box-shadow: 0px 3px 0px #814704, 0px 0px 10px 2px #ffaa0de5, inset 0px 0px 1px #ffffff80, inset 0px 1px 0px #ffdede2d;

}


}





}