@import url("https://fonts.googleapis.com/css?family=Turret+Road:400,800&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #242424;
}

h1 {
  font-family: "Turret Road", cursive;
  color: #7c7c7c;
  text-transform: uppercase;
  font-weight: 800;
  font-size: 0.8rem;
  margin: 0 0 0 10px;
}

main {
  height: 80%;
  width: 80%;
  background: #000;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .buttons {
  background: #111111;
  padding: 10px;
}

main .buttons__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .buttons__btn {
  height: 80px;
  width: 80px;
  background: #414141;
  margin: 10px;
  border-radius: 5%;
  -webkit-box-shadow: 0px 6px 0px #363636, inset 0px 0px 1px #ffffff80, inset 0px 1px 0px #ffdede2d;
          box-shadow: 0px 6px 0px #363636, inset 0px 0px 1px #ffffff80, inset 0px 1px 0px #ffdede2d;
  -webkit-transition: 100ms ease;
  transition: 100ms ease;
}

main .buttons__btn:hover {
  -webkit-box-shadow: 0px 4px 0px #363636, inset 0px 0px 1px #ffffff80, inset 0px 1px 0px #ffdede2d;
          box-shadow: 0px 4px 0px #363636, inset 0px 0px 1px #ffffff80, inset 0px 1px 0px #ffdede2d;
  -webkit-transform: scale(0.95) translateY(5px);
          transform: scale(0.95) translateY(5px);
  cursor: pointer;
  -webkit-transition: 120ms ease;
  transition: 120ms ease;
}

main .buttons .lit:nth-child(8n+1) {
  -webkit-box-shadow: 0px 6px 0px #20aa33,0px 0px 10px 2px #21ff85d2,inset 0px 0px 1px #ffffff, inset 0px 1px 0px #b4ffaa;
          box-shadow: 0px 6px 0px #20aa33,0px 0px 10px 2px #21ff85d2,inset 0px 0px 1px #ffffff, inset 0px 1px 0px #b4ffaa;
  background: radial-gradient(ellipse at center, #72ffa8 0%, #00ff62 100%);
}

main .buttons .lit:nth-child(8n+2) {
  -webkit-box-shadow: 0px 6px 0px #159ea3,0px 0px 10px 2px #21d3ffd2,inset 0px 0px 1px #ffffff, inset 0px 1px 0px #88f1ff;
          box-shadow: 0px 6px 0px #159ea3,0px 0px 10px 2px #21d3ffd2,inset 0px 0px 1px #ffffff, inset 0px 1px 0px #88f1ff;
  background: radial-gradient(ellipse at center, #85e3ff 0%, #00c3ff 100%);
}

main .buttons .lit:nth-child(8n+3) {
  -webkit-box-shadow: 0px 6px 0px #2a4ad6,0px 0px 10px 2px #2189ffd2,inset 0px 0px 1px #ffffff, inset 0px 1px 0px #9ab3ff;
          box-shadow: 0px 6px 0px #2a4ad6,0px 0px 10px 2px #2189ffd2,inset 0px 0px 1px #ffffff, inset 0px 1px 0px #9ab3ff;
  background: radial-gradient(ellipse at center, #65adff 0%, #0077ff 100%);
}

main .buttons .lit:nth-child(8n+4) {
  -webkit-box-shadow: 0px 6px 0px #8e2bc7,0px 0px 10px 2px #c021ffd2,inset 0px 0px 1px #ffffff, inset 0px 1px 0px #be78ff;
          box-shadow: 0px 6px 0px #8e2bc7,0px 0px 10px 2px #c021ffd2,inset 0px 0px 1px #ffffff, inset 0px 1px 0px #be78ff;
  background: radial-gradient(ellipse at center, #ca70ff 0%, #a200ff 100%);
}

main .buttons .lit:nth-child(8n+5) {
  -webkit-box-shadow: 0px 6px 0px #c4215f,0px 0px 10px 2px #ff216bd2,inset 0px 0px 1px #ffffff, inset 0px 1px 0px #ffa1f2;
          box-shadow: 0px 6px 0px #c4215f,0px 0px 10px 2px #ff216bd2,inset 0px 0px 1px #ffffff, inset 0px 1px 0px #ffa1f2;
  background: radial-gradient(ellipse at center, #ff6aa8 0%, #ff006a 100%);
}

main .buttons .lit:nth-child(8n+6) {
  -webkit-box-shadow: 0px 6px 0px #a81f1f,0px 0px 10px 2px #ff2121d2,inset 0px 0px 1px #ffffff, inset 0px 1px 0px #ff7676;
          box-shadow: 0px 6px 0px #a81f1f,0px 0px 10px 2px #ff2121d2,inset 0px 0px 1px #ffffff, inset 0px 1px 0px #ff7676;
  background: radial-gradient(ellipse at center, #ff5555 0%, #ff0000 100%);
}

main .buttons .lit:nth-child(8n+7) {
  -webkit-box-shadow: 0px 6px 0px #c05813,0px 0px 10px 2px #ffd16dd2,inset 0px 0px 1px #ffffff, inset 0px 1px 0px #ffc671;
          box-shadow: 0px 6px 0px #c05813,0px 0px 10px 2px #ffd16dd2,inset 0px 0px 1px #ffffff, inset 0px 1px 0px #ffc671;
  background: radial-gradient(ellipse at center, #ffae43 0%, #ff6600 100%);
}

main .buttons .lit:nth-child(8n+8) {
  -webkit-box-shadow: 0px 6px 0px #b2b429,0px 0px 10px 2px #fbff21d2,inset 0px 0px 1px #ffffff, inset 0px 1px 0px #fffd70;
          box-shadow: 0px 6px 0px #b2b429,0px 0px 10px 2px #fbff21d2,inset 0px 0px 1px #ffffff, inset 0px 1px 0px #fffd70;
  background: radial-gradient(ellipse at center, #fffc5b 0%, #fffb00 100%);
}

main .buttons .lit:nth-child(8n+1):hover {
  -webkit-box-shadow: 0px 3px 0px #20aa33,0px 0px 10px 2px #21ff85d2,inset 0px 0px 1px #ffffff, inset 0px 1px 0px #b4ffaa;
          box-shadow: 0px 3px 0px #20aa33,0px 0px 10px 2px #21ff85d2,inset 0px 0px 1px #ffffff, inset 0px 1px 0px #b4ffaa;
}

main .buttons .lit:nth-child(8n+2):hover {
  -webkit-box-shadow: 0px 3px 0px #159ea3,0px 0px 10px 2px #21d3ffd2,inset 0px 0px 1px #ffffff, inset 0px 1px 0px #88f1ff;
          box-shadow: 0px 3px 0px #159ea3,0px 0px 10px 2px #21d3ffd2,inset 0px 0px 1px #ffffff, inset 0px 1px 0px #88f1ff;
}

main .buttons .lit:nth-child(8n+3):hover {
  -webkit-box-shadow: 0px 3px 0px #2a4ad6,0px 0px 10px 2px #2189ffd2,inset 0px 0px 1px #ffffff, inset 0px 1px 0px #9ab3ff;
          box-shadow: 0px 3px 0px #2a4ad6,0px 0px 10px 2px #2189ffd2,inset 0px 0px 1px #ffffff, inset 0px 1px 0px #9ab3ff;
}

main .buttons .lit:nth-child(8n+4):hover {
  -webkit-box-shadow: 0px 3px 0px #8e2bc7,0px 0px 10px 2px #c021ffd2,inset 0px 0px 1px #ffffff, inset 0px 1px 0px #be78ff;
          box-shadow: 0px 3px 0px #8e2bc7,0px 0px 10px 2px #c021ffd2,inset 0px 0px 1px #ffffff, inset 0px 1px 0px #be78ff;
}

main .buttons .lit:nth-child(8n+5):hover {
  -webkit-box-shadow: 0px 3px 0px #c4215f,0px 0px 10px 2px #ff216bd2,inset 0px 0px 1px #ffffff, inset 0px 1px 0px #ffa1f2;
          box-shadow: 0px 3px 0px #c4215f,0px 0px 10px 2px #ff216bd2,inset 0px 0px 1px #ffffff, inset 0px 1px 0px #ffa1f2;
}

main .buttons .lit:nth-child(8n+6):hover {
  -webkit-box-shadow: 0px 3px 0px #a81f1f,0px 0px 10px 2px #ff2121d2,inset 0px 0px 1px #ffffff, inset 0px 1px 0px #ff7676;
          box-shadow: 0px 3px 0px #a81f1f,0px 0px 10px 2px #ff2121d2,inset 0px 0px 1px #ffffff, inset 0px 1px 0px #ff7676;
}

main .buttons .lit:nth-child(8n+7):hover {
  -webkit-box-shadow: 0px 3px 0px #c05813,0px 0px 10px 2px #ffd16dd2,inset 0px 0px 1px #ffffff, inset 0px 1px 0px #ffc671;
          box-shadow: 0px 3px 0px #c05813,0px 0px 10px 2px #ffd16dd2,inset 0px 0px 1px #ffffff, inset 0px 1px 0px #ffc671;
}

main .buttons .lit:nth-child(8n+8):hover {
  -webkit-box-shadow: 0px 3px 0px #b2b429,0px 0px 10px 2px #fbff21d2,inset 0px 0px 1px #ffffff, inset 0px 1px 0px #fffd70;
          box-shadow: 0px 3px 0px #b2b429,0px 0px 10px 2px #fbff21d2,inset 0px 0px 1px #ffffff, inset 0px 1px 0px #fffd70;
}

main .buttons__indicator {
  height: 10px;
  width: 80px;
  background: #8b500d;
  margin: 10px;
  border-radius: 5%;
  -webkit-box-shadow: 0px 3px 0px #814704, inset 0px 0px 1px #ffffff80, inset 0px 1px 0px #ffdede2d;
          box-shadow: 0px 3px 0px #814704, inset 0px 0px 1px #ffffff80, inset 0px 1px 0px #ffdede2d;
}

main .buttons .indi-lit {
  background: radial-gradient(ellipse at center, #ffbd44 0%, #ffa600 100%);
  -webkit-box-shadow: 0px 3px 0px #c5950f, 0px 0px 10px 2px #ffe70d, inset 0px 0px 1px #ffffff, inset 0px 1px 0px #ffe44d;
          box-shadow: 0px 3px 0px #c5950f, 0px 0px 10px 2px #ffe70d, inset 0px 0px 1px #ffffff, inset 0px 1px 0px #ffe44d;
  -webkit-filter: brightness(1.5);
          filter: brightness(1.5);
}

main .right-panel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #111111;
  height: 450px;
}

main .right-panel .volume {
  -webkit-transform: rotate(270deg);
          transform: rotate(270deg);
  margin: 40px 0 80px 0;
  border-radius: 5px;
}

main .right-panel input[type=range] {
  -webkit-appearance: none;
  width: 100%;
}

main .right-panel input[type=range]:focus {
  outline: none;
}

main .right-panel input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 12.3px;
  cursor: pointer;
  -webkit-box-shadow: 0.1px 0.1px 1px #000000, 0px 0px 0.1px #0d0d0d;
          box-shadow: 0.1px 0.1px 1px #000000, 0px 0px 0.1px #0d0d0d;
  background: #2d2c2b;
  border-radius: 0px;
  border: 0px solid #262425;
}

main .right-panel input[type=range]::-webkit-slider-thumb {
  -webkit-box-shadow: 1.7px 1.7px 2.9px #171718, 0px 0px 1.7px #232325;
          box-shadow: 1.7px 1.7px 2.9px #171718, 0px 0px 1.7px #232325;
  border: 3.1px solid #414243;
  height: 50px;
  width: 28px;
  border-radius: 2px;
  background: #171817;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -18.85px;
}

main .right-panel input[type=range]::-moz-range-track {
  width: 100%;
  height: 12.3px;
  cursor: pointer;
  box-shadow: 0.1px 0.1px 1px #000000, 0px 0px 0.1px #0d0d0d;
  background: #2d2c2b;
  border-radius: 0px;
  border: 0px solid #262425;
}

main .right-panel input[type=range]::-moz-range-thumb {
  box-shadow: 1.7px 1.7px 2.9px #171718, 0px 0px 1.7px #232325;
  border: 3.1px solid #414243;
  height: 50px;
  width: 28px;
  border-radius: 2px;
  background: #171817;
  cursor: pointer;
}

main .right-panel input[type=range]::-ms-track {
  width: 100%;
  height: 12.3px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}

main .right-panel input[type=range]::-ms-fill-lower {
  background: #060606;
  border: 0px solid #262425;
  border-radius: 0px;
  box-shadow: 0.1px 0.1px 1px #000000, 0px 0px 0.1px #0d0d0d;
}

main .right-panel input[type=range]::-ms-fill-upper {
  background: #2d2c2b;
  border: 0px solid #262425;
  border-radius: 0px;
  box-shadow: 0.1px 0.1px 1px #000000, 0px 0px 0.1px #0d0d0d;
}

main .right-panel input[type=range]::-ms-thumb {
  box-shadow: 1.7px 1.7px 2.9px #171718, 0px 0px 1.7px #232325;
  border: 3.1px solid #414243;
  height: 50px;
  width: 28px;
  border-radius: 2px;
  background: #171817;
  cursor: pointer;
  height: 12.3px;
}

main .right-panel input[type=range]:focus::-ms-fill-lower {
  background: #2d2c2b;
}

main .right-panel input[type=range]:focus::-ms-fill-upper {
  background: #545250;
}

main .right-panel__btn {
  width: 60px;
  height: 60px;
  border: 2px solid #3f3f3f;
  margin: 10px;
  background: #5f5f5f;
  text-align: center;
  border-radius: 100%;
  -webkit-box-shadow: 0px 3px 0px #202020, 0px 0px 5px 1px #01ffd563, inset 0px 0px 1px #ffffffe1, inset 0px 1px 0px #5858582d;
          box-shadow: 0px 3px 0px #202020, 0px 0px 5px 1px #01ffd563, inset 0px 0px 1px #ffffffe1, inset 0px 1px 0px #5858582d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: "Turret Road", cursive;
  text-transform: uppercase;
  font-size: 0.5rem;
  font-weight: 800;
}

main .right-panel__btn .fas {
  font-size: 1rem;
  color: #000000c4;
  margin: 5px;
}

main .right-panel__btn:hover {
  -webkit-box-shadow: 0px 1px 0px #202020, 0px 0px 5px 1px #01ffd57c, inset 0px 0px 1px #ffffffe1, inset 0px 1px 0px #5858582d;
          box-shadow: 0px 1px 0px #202020, 0px 0px 5px 1px #01ffd57c, inset 0px 0px 1px #ffffffe1, inset 0px 1px 0px #5858582d;
  -webkit-transform: scale(0.98) translateY(3px);
          transform: scale(0.98) translateY(3px);
  cursor: pointer;
  -webkit-transition: 120ms ease;
  transition: 120ms ease;
}

main .right-panel .lit {
  -webkit-box-shadow: 0px 3px 0px #264258, 0px 0px 5px 1px #01b7ff, inset 0px 0px 1px #ffffff, inset 0px 1px 0px #56d8ff;
          box-shadow: 0px 3px 0px #264258, 0px 0px 5px 1px #01b7ff, inset 0px 0px 1px #ffffff, inset 0px 1px 0px #56d8ff;
  background: #1db7ff;
  border: 2px solid #35d7ff;
  -webkit-filter: brightness(1.3);
          filter: brightness(1.3);
}

main .right-panel .lit:hover {
  -webkit-box-shadow: 0px 1px 0px #277fc7, 0px 0px 5px 1px #01b7ff, inset 0px 0px 1px #ffffff, inset 0px 1px 0px #56d8ff;
          box-shadow: 0px 1px 0px #277fc7, 0px 0px 5px 1px #01b7ff, inset 0px 0px 1px #ffffff, inset 0px 1px 0px #56d8ff;
}

main .left-panel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #131313;
  height: 450px;
}

main .left-panel__btn {
  color: #919191;
  width: 60px;
  height: 60px;
  margin: 10px;
  background: #252525;
  text-align: center;
  border-radius: 5px;
  -webkit-box-shadow: 0px 3px 0px #202020, inset 0px 1px 1px #ffffff49, inset 0px 1px 0px #585858cc;
          box-shadow: 0px 3px 0px #202020, inset 0px 1px 1px #ffffff49, inset 0px 1px 0px #585858cc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: "Turret Road", cursive;
  text-transform: uppercase;
  font-size: 0.5rem;
  font-weight: 800;
}

main .left-panel__btn .dots-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 10px 0;
}

main .left-panel__btn .dots-container .dot {
  height: 5px;
  width: 5px;
  background: #035200;
  margin: 2px;
  border-radius: 100%;
}

main .left-panel__btn .dots-container .active {
  -webkit-box-shadow: 0px 1px 0px #20aa33,0px 0px 5px 1px #21ff85d2,inset 0px 0px 1px #ffffff, inset 0px 1px 0px #b4ffaa;
          box-shadow: 0px 1px 0px #20aa33,0px 0px 5px 1px #21ff85d2,inset 0px 0px 1px #ffffff, inset 0px 1px 0px #b4ffaa;
  background: radial-gradient(ellipse at center, #72ffa8 0%, #00ff62 100%);
}

main .left-panel__btn:hover {
  -webkit-box-shadow: 0px 1px 0px #202020, inset 0px 0px 1px #ffffff31, inset 0px 1px 0px #5858582d;
          box-shadow: 0px 1px 0px #202020, inset 0px 0px 1px #ffffff31, inset 0px 1px 0px #5858582d;
  -webkit-transform: scale(0.98) translateY(3px);
          transform: scale(0.98) translateY(3px);
  cursor: pointer;
  -webkit-transition: 120ms ease;
  transition: 120ms ease;
}
/*# sourceMappingURL=style.css.map */