@import url('https://fonts.googleapis.com/css?family=Turret+Road:400,800&display=swap');


$primary: #ffffff;
$secondary: #fff111;
$background: #242424;

$font: 'Turret Road', cursive;

* {

box-sizing: border-box;
margin: 0;
padding: 0;

}

body {

background: $background;

}

h1 {

font-family: $font;
color: rgb(124, 124, 124);
text-transform: uppercase;
font-weight: 800;
font-size: 0.8rem;
margin:0 0 0 10px;

}


main {

background: #000;
margin: 100px auto;
display: flex;
justify-content: center;
align-items: center;

.buttons {

background: rgb(17, 17, 17);
padding: 10px;


&__row {

display: flex;
width: 100%;
justify-content: center;
align-items: center;


}

&__btn {

height: 80px;
width: 80px;
background: #414141;
margin:10px;
border-radius: 5%;
box-shadow: 0px 6px 0px #363636, inset 0px 0px 1px #ffffff80, inset 0px 1px 0px #ffdede2d;
transition: 100ms ease;

}



&__btn:hover {

    box-shadow: 0px 4px 0px #363636, inset 0px 0px 1px #ffffff80, inset 0px 1px 0px #ffdede2d;
    transform: scale(0.95) translateY(5px);
   cursor: pointer;
   transition: 120ms ease;

}



.lit:nth-child(8n+1) {

    box-shadow: 0px 6px 0px #20aa33,0px 0px 10px 2px #21ff85d2,inset 0px 0px 1px #ffffff, inset 0px 1px 0px #b4ffaa;
    background: radial-gradient(ellipse at center, #72ffa8 0%,#00ff62 100%);

}

.lit:nth-child(8n+2) {

    box-shadow: 0px 6px 0px #159ea3,0px 0px 10px 2px #21d3ffd2,inset 0px 0px 1px #ffffff, inset 0px 1px 0px #88f1ff;
    background: radial-gradient(ellipse at center, #85e3ff 0%, #00c3ff 100%);

}

.lit:nth-child(8n+3) {

    box-shadow: 0px 6px 0px #2a4ad6,0px 0px 10px 2px #2189ffd2,inset 0px 0px 1px #ffffff, inset 0px 1px 0px #9ab3ff;
    background: radial-gradient(ellipse at center, #65adff 0%, #0077ff 100%);

}

.lit:nth-child(8n+4) {

    box-shadow: 0px 6px 0px #8e2bc7,0px 0px 10px 2px #c021ffd2,inset 0px 0px 1px #ffffff, inset 0px 1px 0px #be78ff;
    background: radial-gradient(ellipse at center, #ca70ff 0%, #a200ff 100%);

}

.lit:nth-child(8n+5) {

    box-shadow: 0px 6px 0px #c4215f,0px 0px 10px 2px #ff216bd2,inset 0px 0px 1px #ffffff, inset 0px 1px 0px #ffa1f2;
    background: radial-gradient(ellipse at center, #ff6aa8 0%, #ff006a 100%);

}

.lit:nth-child(8n+6) {

    box-shadow: 0px 6px 0px #a81f1f,0px 0px 10px 2px #ff2121d2,inset 0px 0px 1px #ffffff, inset 0px 1px 0px #ff7676;
    background: radial-gradient(ellipse at center, #ff5555 0%, #ff0000 100%);

}

.lit:nth-child(8n+7) {

    box-shadow: 0px 6px 0px #c05813,0px 0px 10px 2px #ffd16dd2,inset 0px 0px 1px #ffffff, inset 0px 1px 0px #ffc671;
    background: radial-gradient(ellipse at center, #ffae43 0%, #ff6600 100%);

}

.lit:nth-child(8n+8) {

    box-shadow: 0px 6px 0px #b2b429,0px 0px 10px 2px #fbff21d2,inset 0px 0px 1px #ffffff, inset 0px 1px 0px #fffd70;
    background: radial-gradient(ellipse at center, #fffc5b 0%, #fffb00 100%);

}

.lit:nth-child(8n+1):hover {

    box-shadow: 0px 3px 0px #20aa33,0px 0px 10px 2px #21ff85d2,inset 0px 0px 1px #ffffff, inset 0px 1px 0px #b4ffaa;

}

.lit:nth-child(8n+2):hover {

    box-shadow: 0px 3px 0px #159ea3,0px 0px 10px 2px #21d3ffd2,inset 0px 0px 1px #ffffff, inset 0px 1px 0px #88f1ff;


}

.lit:nth-child(8n+3):hover {

    box-shadow: 0px 3px 0px #2a4ad6,0px 0px 10px 2px #2189ffd2,inset 0px 0px 1px #ffffff, inset 0px 1px 0px #9ab3ff;


}

.lit:nth-child(8n+4):hover {

    box-shadow: 0px 3px 0px #8e2bc7,0px 0px 10px 2px #c021ffd2,inset 0px 0px 1px #ffffff, inset 0px 1px 0px #be78ff;
 

}

.lit:nth-child(8n+5):hover{

    box-shadow: 0px 3px 0px #c4215f,0px 0px 10px 2px #ff216bd2,inset 0px 0px 1px #ffffff, inset 0px 1px 0px #ffa1f2;
 

}

.lit:nth-child(8n+6):hover {

    box-shadow: 0px 3px 0px #a81f1f,0px 0px 10px 2px #ff2121d2,inset 0px 0px 1px #ffffff, inset 0px 1px 0px #ff7676;


}

.lit:nth-child(8n+7):hover {

    box-shadow: 0px 3px 0px #c05813,0px 0px 10px 2px #ffd16dd2,inset 0px 0px 1px #ffffff, inset 0px 1px 0px #ffc671;


}

.lit:nth-child(8n+8):hover {

    box-shadow: 0px 3px 0px #b2b429,0px 0px 10px 2px #fbff21d2,inset 0px 0px 1px #ffffff, inset 0px 1px 0px #fffd70;


}






&__indicator {

    height: 10px;
    width: 80px;
    background: #8b500d;
    margin:10px;
    border-radius: 5%;
    box-shadow: 0px 3px 0px #814704, inset 0px 0px 1px #ffffff80, inset 0px 1px 0px #ffdede2d;

}

.indi-lit {

  background: radial-gradient(ellipse at center, #ffbd44 0%,#ffa600 100%);

    box-shadow: 0px 3px 0px #c5950f, 0px 0px 10px 2px #ffe70d, inset 0px 0px 1px #ffffff, inset 0px 1px 0px #ffe44d;
    filter:brightness(1.5);

}





}

.right-panel {


    

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #111111;
    height: 450px;


    .volume {

       transform: rotate(270deg);
       margin: 40px 0 80px 0;
       border-radius: 5px; 
   

    }

    input[type=range] {
        -webkit-appearance: none;
        width: 100%;
      }
      input[type=range]:focus {
        outline: none;
      }
      input[type=range]::-webkit-slider-runnable-track {
        width: 100%;
        height: 12.3px;
        cursor: pointer;
        box-shadow: 0.1px 0.1px 1px #000000, 0px 0px 0.1px #0d0d0d;
        background: #2d2c2b;
        border-radius: 0px;
        border: 0px solid #262425;
      }
      input[type=range]::-webkit-slider-thumb {
        box-shadow: 1.7px 1.7px 2.9px #171718, 0px 0px 1.7px #232325;
        border: 3.1px solid #414243;
        height: 50px;
        width: 28px;
        border-radius: 2px;
        background: #171817;
        cursor: pointer;
        -webkit-appearance: none;
        margin-top: -18.85px;
      }
    
      input[type=range]::-moz-range-track {
        width: 100%;
        height: 12.3px;
        cursor: pointer;
        box-shadow: 0.1px 0.1px 1px #000000, 0px 0px 0.1px #0d0d0d;
        background: #2d2c2b;
        border-radius: 0px;
        border: 0px solid #262425;
      }
      input[type=range]::-moz-range-thumb {
        box-shadow: 1.7px 1.7px 2.9px #171718, 0px 0px 1.7px #232325;
        border: 3.1px solid #414243;
        height: 50px;
        width: 28px;
        border-radius: 2px;
        background: #171817;
        cursor: pointer;
      }
      input[type=range]::-ms-track {
        width: 100%;
        height: 12.3px;
        cursor: pointer;
        background: transparent;
        border-color: transparent;
        color: transparent;
      }
      input[type=range]::-ms-fill-lower {
        background: #060606;
        border: 0px solid #262425;
        border-radius: 0px;
        box-shadow: 0.1px 0.1px 1px #000000, 0px 0px 0.1px #0d0d0d;
      }
      input[type=range]::-ms-fill-upper {
        background: #2d2c2b;
        border: 0px solid #262425;
        border-radius: 0px;
        box-shadow: 0.1px 0.1px 1px #000000, 0px 0px 0.1px #0d0d0d;
      }
      input[type=range]::-ms-thumb {
        box-shadow: 1.7px 1.7px 2.9px #171718, 0px 0px 1.7px #232325;
        border: 3.1px solid #414243;
        height: 50px;
        width: 28px;
        border-radius: 2px;
        background: #171817;
        cursor: pointer;
        height: 12.3px;
      }
      input[type=range]:focus::-ms-fill-lower {
        background: #2d2c2b;
      }
      input[type=range]:focus::-ms-fill-upper {
        background: #545250;
      }



    &__btn {

        width: 60px;
        height: 60px;
        border: 2px solid rgb(63, 63, 63);
        margin: 10px;
        background: #5f5f5f;
        text-align: center;
        border-radius: 100%;
        box-shadow: 0px 3px 0px #202020, 0px 0px 5px 1px #01ffd563, inset 0px 0px 1px #ffffffe1, inset 0px 1px 0px #5858582d;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-family: $font;
        text-transform: uppercase;
        font-size: 0.5rem;
        font-weight: 800;





        .fas {


            font-size: 1rem;
            color:#000000c4;
            margin: 5px;
  

        }

    }


    &__btn:hover {

        box-shadow: 0px 1px 0px #202020, 0px 0px 5px 1px #01ffd57c, inset 0px 0px 1px #ffffffe1, inset 0px 1px 0px #5858582d;
        transform: scale(0.98) translateY(3px);
       cursor: pointer;
       transition: 120ms ease;


    }

    .lit {

        box-shadow: 0px 3px 0px #264258, 0px 0px 5px 1px #01b7ff, inset 0px 0px 1px #ffffff, inset 0px 1px 0px #56d8ff;
        background: #1db7ff;
        border: 2px solid rgb(53, 215, 255);
        filter: brightness(1.3);
       

    }

    .lit:hover {

        box-shadow: 0px 1px 0px #277fc7, 0px 0px 5px 1px #01b7ff, inset 0px 0px 1px #ffffff, inset 0px 1px 0px #56d8ff;

       

    }

    
    }


.left-panel {




    

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: #181818;
        height: 450px;
    

&__btn {


color: rgb(145, 145, 145);
width: 60px;
height: 60px;
margin: 10px;
background: #252525;
text-align: center;
border-radius: 5px;
box-shadow: 0px 3px 0px #202020, inset 0px 1px 1px #ffffff1f, inset 0px 1px 0px #585858cc;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
font-family: $font;
text-transform: uppercase;
font-size: 0.5rem;
font-weight: 800;

.dots-container {

display: flex;
margin: 10px 0;

.dot {

height: 5px;
width: 5px;
background: #035200;
margin: 2px;
border-radius: 100%;

}

.active {

    box-shadow: 0px 1px 0px #20aa33,0px 0px 5px 1px #21ff85d2,inset 0px 0px 1px #ffffff, inset 0px 1px 0px #b4ffaa;
    background: radial-gradient(ellipse at center, #72ffa8 0%,#00ff62 100%);

}


}


}

&__btn:hover {

    box-shadow: 0px 1px 0px #202020, inset 0px 0px 1px #ffffff31, inset 0px 1px 0px #5858582d;
    transform: scale(0.98) translateY(3px);
   cursor: pointer;
   transition: 120ms ease;


}



}


}