@import url('https://fonts.googleapis.com/css?family=Turret+Road:400,800&display=swap');


$primary: #ffffff;
$secondary: #131313;
$background: #000000;


$font: 'Turret Road', cursive;

* {

box-sizing: border-box;
margin: 0;
padding: 0;
user-select: none;

}

body {

background: $background;
background-image: url("../assets/img/background.jpg");
background-size: cover;
background-position: center;

}



h1 {

font-family: $font;
color: rgb(124, 124, 124);
text-transform: uppercase;
font-weight: 800;
font-size: 0.8rem;
margin:0 0 0 50px;

}

header {

  margin: 100px auto 0px auto;
  width: 1260px;
  height: 80px;
  background-image: url('http://api.thumbr.it/whitenoise-361x370.png?background=121212ff&noise=292929&density=13&opacity=65');
  background-color: $secondary;
  border-radius: 20px 20px 0 0 ;


  .top-panel {

    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;

    .input {

      margin-left: auto;
      margin-right: 50px;
      display: flex;

      .audio-jack {

        height: 10px;
        width: 10px;
        margin: 5px;
        border-radius: 100%;
        background: #000000;
        box-shadow: 1px 1px 1px #817272, -1px -1px 1px #817272;
      }

    }
    
    
    
    }

}




main {

background: $secondary;
display: flex;
justify-content: center;
align-items: center;
width: 1260px;
margin: auto;




.buttons {

  background: $secondary;
padding: 10px;
width: 1000px;
height: 380px;
display: flex;
flex-direction: column;
justify-content: center;
border: 1px solid rgb(32, 32, 32);
padding: 20px;
border-radius: 20px;


.indicators {

  width: 1000px;
}



&__row {

display: flex;
width: 100%;
align-items: center;

.volume-numbers {

display: flex;
flex-direction: column;
font-family: $font;
font-size: 0.5rem;
color:  #035200;
justify-content: space-between;
height: 80%;
transform: translateY(5px);


}

.active {

  color: #49FF18;
  text-shadow: 0 0 5px #FFF, 0 0 5px #49ff18;
}




.channel-volume {

  transform: rotate(270deg);
  margin: 10px 0 0px 0;
  border-radius: 5px; 


}

input[type=range] {
   -webkit-appearance: none;
   width: 60px;   // slider height
   
 }
 input[type=range]:focus {
   outline: none;
 }
 input[type=range]::-webkit-slider-runnable-track {
   width: 100%;
   height: 10px;
   cursor: pointer;
   box-shadow: 0.1px 0.1px 1px #000000, 0px 0px 0.1px #0d0d0d, inset 1px 0px 2px 1px rgba(0, 0, 0, 0.733);
   background: #141414;

 }
 input[type=range]::-webkit-slider-thumb {
   box-shadow: -2px 0px 0px #202020, inset -1px 0px 1px #ffffff49, inset 1px 0px 4px #1b1b1bcc, -4px 0px 4px 1px #00000094;
   border: 1px solid #2e2e2e;
   height: 30px;
   width: 10px;
   border-radius: 1px;
   background: #171817;
   cursor: pointer;
   -webkit-appearance: none;
   margin-top: -10px;
 }

 input[type=range]::-moz-range-track {
   width: 100%;
   height: 12.3px;
   cursor: pointer;
   box-shadow: 0.1px 0.1px 1px #000000, 0px 0px 0.1px #0d0d0d;
   background: #2d2c2b;
   border-radius: 0px;
   border: 0px solid #262425;
 }
 input[type=range]::-moz-range-thumb {
   box-shadow: 1.7px 1.7px 2.9px #171718, 0px 0px 1.7px #232325;
   border: 3.1px solid #414243;
   height: 50px;
   width: 28px;
   border-radius: 2px;
   background: #171817;
   cursor: pointer;
 }
 input[type=range]::-ms-track {
   width: 100%;
   height: 12.3px;
   cursor: pointer;
   background: transparent;
   border-color: transparent;
   color: transparent;
 }
 input[type=range]::-ms-fill-lower {
   background: #060606;
   border: 0px solid #262425;
   border-radius: 0px;
   box-shadow: 0.1px 0.1px 1px #000000, 0px 0px 0.1px #0d0d0d;
 }
 input[type=range]::-ms-fill-upper {
   background: #2d2c2b;
   border: 0px solid #262425;
   border-radius: 0px;
   box-shadow: 0.1px 0.1px 1px #000000, 0px 0px 0.1px #0d0d0d;
 }
 input[type=range]::-ms-thumb {
   box-shadow: 1.7px 1.7px 2.9px #171718, 0px 0px 1.7px #232325;
   border: 3.1px solid #414243;
   height: 50px;
   width: 28px;
   border-radius: 2px;
   background: #171817;
   cursor: pointer;
   height: 12.3px;
 }
 input[type=range]:focus::-ms-fill-lower {
   background: #2d2c2b;
 }
 input[type=range]:focus::-ms-fill-upper {
   background: #545250;
 }


}



&__btn {

height: 46px;
width: 46px;
background: #414141;
background: radial-gradient(ellipse at center, #3f3f3f 0%, #2c2c2c 100%);
margin:10px 3px;
border-radius: 5%;
box-shadow: 0px 6px 0px #363636, inset 0px 0px 1px #ffffff80, inset 0px 1px 0px #ffdede2d,  0px 10px 6px 3px #000000b4;
transition: 100ms ease;

}

&__btn:nth-child(4n){

margin-right: 10px;

}



&__btn:hover {

    box-shadow: 0px 4px 0px #363636, inset 0px 0px 1px #ffffff80, inset 0px 1px 0px #ffdede2d;
    transform: scale(0.95) translateY(5px);
   cursor: pointer;
   transition: 120ms ease;

}



.lit:nth-child(8n+1) {

    box-shadow: 0px 6px 0px #20aa33,0px 0px 10px 2px #21ff85d2,inset 0px 0px 1px #ffffff, inset 0px 1px 0px #b4ffaa;
    background: radial-gradient(ellipse at center, #a7ffc9 0%,#00ff62 100%);

}

.lit:nth-child(8n+2) {

    box-shadow: 0px 6px 0px #159ea3,0px 0px 10px 2px #21d3ffd2,inset 0px 0px 1px #ffffff, inset 0px 1px 0px #88f1ff;
    background: radial-gradient(ellipse at center, #85e3ff 0%, #00c3ff 100%);

}

.lit:nth-child(8n+3) {

    box-shadow: 0px 6px 0px #2a4ad6,0px 0px 10px 2px #2189ffd2,inset 0px 0px 1px #ffffff, inset 0px 1px 0px #9ab3ff;
    background: radial-gradient(ellipse at center, #65adff 0%, #0077ff 100%);

}

.lit:nth-child(8n+4) {

    box-shadow: 0px 6px 0px #8e2bc7,0px 0px 10px 2px #c021ffd2,inset 0px 0px 1px #ffffff, inset 0px 1px 0px #be78ff;
    background: radial-gradient(ellipse at center, #ca70ff 0%, #a200ff 100%);

}

.lit:nth-child(8n+5) {

    box-shadow: 0px 6px 0px #c4215f,0px 0px 10px 2px #ff216bd2,inset 0px 0px 1px #ffffff, inset 0px 1px 0px #ffa1f2;
    background: radial-gradient(ellipse at center, #ff6aa8 0%, #ff006a 100%);

}

.lit:nth-child(8n+6) {

    box-shadow: 0px 6px 0px #a81f1f,0px 0px 10px 2px #ff7676d2,inset 0px 0px 1px #ffffff, inset 0px 1px 0px #ff7676;
    background: radial-gradient(ellipse at center, #ff5555 0%, #ff0000 100%);

}

.lit:nth-child(8n+7) {

    box-shadow: 0px 6px 0px #c05813,0px 0px 10px 2px #ffd16dd2,inset 0px 0px 1px #ffffff, inset 0px 1px 0px #ffc671;
    background: radial-gradient(ellipse at center, #ffae43 0%, #ff6600 100%);

}

.lit:nth-child(8n+8) {

    box-shadow: 0px 6px 0px #b2b429,0px 0px 10px 2px #fbff21d2,inset 0px 0px 1px #ffffff, inset 0px 1px 0px #fffd70;
    background: radial-gradient(ellipse at center, #ffffb1 0%, #fffb00 100%);

}

.lit:nth-child(8n+1):hover {

    box-shadow: 0px 3px 0px #20aa33,0px 0px 10px 2px #21ff85d2,inset 0px 0px 1px #ffffff, inset 0px 1px 0px #b4ffaa;

}

.lit:nth-child(8n+2):hover {

    box-shadow: 0px 3px 0px #159ea3,0px 0px 10px 2px #21d3ffd2,inset 0px 0px 1px #ffffff, inset 0px 1px 0px #88f1ff;


}

.lit:nth-child(8n+3):hover {

    box-shadow: 0px 3px 0px #2a4ad6,0px 0px 10px 2px #2189ffd2,inset 0px 0px 1px #ffffff, inset 0px 1px 0px #9ab3ff;


}

.lit:nth-child(8n+4):hover {

    box-shadow: 0px 3px 0px #8e2bc7,0px 0px 10px 2px #c021ffd2,inset 0px 0px 1px #ffffff, inset 0px 1px 0px #be78ff;
 

}

.lit:nth-child(8n+5):hover{

    box-shadow: 0px 3px 0px #c4215f,0px 0px 10px 2px #ff216bd2,inset 0px 0px 1px #ffffff, inset 0px 1px 0px #ffa1f2;
 

}

.lit:nth-child(8n+6):hover {

    box-shadow: 0px 3px 0px #a81f1f,0px 0px 10px 2px #ff2121d2,inset 0px 0px 1px #ffffff, inset 0px 1px 0px #ff7676;


}

.lit:nth-child(8n+7):hover {

    box-shadow: 0px 3px 0px #c05813,0px 0px 10px 2px #ffd16dd2,inset 0px 0px 1px #ffffff, inset 0px 1px 0px #ffc671;


}

.lit:nth-child(8n+8):hover {

    box-shadow: 0px 3px 0px #b2b429,0px 0px 10px 2px #fbff21d2,inset 0px 0px 1px #ffffff, inset 0px 1px 0px #fffd70;


}






&__indicator {

    height: 10px;
    width: 46px;
    background: radial-gradient(ellipse at center, #df9814 0%,#a76c00 100%);
    margin:3px;
    border-radius: 5%;
    box-shadow: 0px 3px 0px #814704, inset 0px 0px 1px #ffffff80, inset 0px 1px 0px #ffdede2d,  0px 5px 5px 2px #000000b4;


}

&__indicator:nth-child(4n){

  margin-right: 10px;
  
  }

.indi-lit {

  background: radial-gradient(ellipse at center, #ffbd44 0%,#ffa600 100%);

    box-shadow: 0px 3px 0px #c5950f, 0px 0px 10px 2px #ffe70d, inset 0px 0px 1px #ffffff, inset 0px 1px 0px #ffe44d;
    filter:brightness(1.5);

}





}

.right-panel {


    

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: $secondary;
    background-image: url('http://api.thumbr.it/whitenoise-361x370.png?background=121212ff&noise=292929&density=13&opacity=65');
    height: 380px;
    width: 130px;


    .volume {

       transform: rotate(270deg);
       margin: 40px 0 80px 0;
       border-radius: 5px; 
   

    }

    input[type=range] {
        -webkit-appearance: none;
        width: 100%;
      }
      input[type=range]:focus {
        outline: none;
      }
      input[type=range]::-webkit-slider-runnable-track {
        width: 100%;
        height: 12.3px;
        cursor: pointer;
        box-shadow: 0.1px 0.1px 1px #000000, 0px 0px 0.1px #0d0d0d, inset 2px 0px 3px 1px rgba(0, 0, 0, 0.733);
        background: #141414;
    
      }
      input[type=range]::-webkit-slider-thumb {
        box-shadow: -3px 0px 0px #202020, inset -1px 0px 1px #ffffff49, inset 1px 0px 5px #1b1b1bcc, -5px 0px 5px 2px #00000094;
        border: 1px solid #2e2e2e;
        height: 50px;
        width: 20px;
        border-radius: 1px;
        background: #171817;
        cursor: pointer;
        -webkit-appearance: none;
        margin-top: -18.85px;
      }
    
      input[type=range]::-moz-range-track {
        width: 100%;
        height: 12.3px;
        cursor: pointer;
        box-shadow: 0.1px 0.1px 1px #000000, 0px 0px 0.1px #0d0d0d;
        background: #2d2c2b;
        border-radius: 0px;
        border: 0px solid #262425;
      }
      input[type=range]::-moz-range-thumb {
        box-shadow: 1.7px 1.7px 2.9px #171718, 0px 0px 1.7px #232325;
        border: 3.1px solid #414243;
        height: 50px;
        width: 28px;
        border-radius: 2px;
        background: #171817;
        cursor: pointer;
      }
      input[type=range]::-ms-track {
        width: 100%;
        height: 12.3px;
        cursor: pointer;
        background: transparent;
        border-color: transparent;
        color: transparent;
      }
      input[type=range]::-ms-fill-lower {
        background: #060606;
        border: 0px solid #262425;
        border-radius: 0px;
        box-shadow: 0.1px 0.1px 1px #000000, 0px 0px 0.1px #0d0d0d;
      }
      input[type=range]::-ms-fill-upper {
        background: #2d2c2b;
        border: 0px solid #262425;
        border-radius: 0px;
        box-shadow: 0.1px 0.1px 1px #000000, 0px 0px 0.1px #0d0d0d;
      }
      input[type=range]::-ms-thumb {
        box-shadow: 1.7px 1.7px 2.9px #171718, 0px 0px 1.7px #232325;
        border: 3.1px solid #414243;
        height: 50px;
        width: 28px;
        border-radius: 2px;
        background: #171817;
        cursor: pointer;
        height: 12.3px;
      }
      input[type=range]:focus::-ms-fill-lower {
        background: #2d2c2b;
      }
      input[type=range]:focus::-ms-fill-upper {
        background: #545250;
      }



    &__btn {

      color: rgb(145, 145, 145);
      width: 50px;
      height: 50px;
      margin: 10px;
      background: #252525;
      text-align: center;
      border-radius: 5px;
      box-shadow: 0px 3px 0px #202020, inset 0px 1px 1px #ffffff1f, inset 0px 1px 0px #585858cc,  0px 5px 5px 2px #000000b4;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      font-family: $font;
      text-transform: uppercase;
      font-size: 0.5rem;
      font-weight: 800;





        .fas {


            font-size: 1rem;
            color:#035200;
            margin: 5px;
  

        }

    }


    &__btn:hover {

      box-shadow: 0px 1px 0px #202020, inset 0px 0px 1px #ffffff31, inset 0px 1px 0px #5858582d;
    transform: scale(0.98) translateY(3px);
   cursor: pointer;
   transition: 120ms ease;


    }

    .lit {

  


      .fas {


        color:#36ff2f;
       text-shadow: 0 0 5px #FFF, 0 0 5px #49ff18;
       // background: radial-gradient(ellipse at center, rgb(121, 255, 84) 0%,#49FF18 100%);


    }
       
       

    }



    
    }


.left-panel {




    

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: $secondary;
        background-image: url('http://api.thumbr.it/whitenoise-361x370.png?background=121212ff&noise=292929&density=13&opacity=65');
        height: 380px;
        width: 130px;
    

&__btn {


color: rgb(145, 145, 145);
width: 50px;
height: 50px;
margin: 10px;
background: #252525;
text-align: center;
border-radius: 5px;
box-shadow: 0px 3px 0px #202020, inset 0px 1px 1px #ffffff1f, inset 0px 1px 0px #585858cc,  0px 5px 5px 2px #000000b4;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
font-family: $font;
text-transform: uppercase;
font-size: 0.5rem;
font-weight: 800;


span {

padding-top: 4px;

}

.dots-container {

display: flex;
margin: 0px 0;

.dot {

height: 5px;
width: 5px;
background: #035200;
margin: 1.5px;
border-radius: 100%;

}

.active {

    box-shadow: 0 0 5px #FFF, 0 0 5px #49ff18;
    background: radial-gradient(ellipse at center, rgb(121, 255, 84) 0%,#49FF18 100%);



}


}


}

&__btn:hover {

    box-shadow: 0px 1px 0px #202020, inset 0px 0px 1px #ffffff31, inset 0px 1px 0px #5858582d;
    transform: scale(0.98) translateY(3px);
   cursor: pointer;
   transition: 120ms ease;


}



}


}


footer {

  margin: 0px auto 0px auto;
  width: 1260px;
  height: 80px;
  background: $secondary;
  box-shadow: 0px 20px 0px #0e0e0e;
  border-radius: 0 0 20px 20px;
  background-image: url('http://api.thumbr.it/whitenoise-361x370.png?background=121212ff&noise=292929&density=13&opacity=65');

  .bottom-panel {

    display: flex;
    align-items: center;
    height: 100%;
    justify-content: center;
    width: 100%;

    &__bpm-panel {

      background: #161616;
      display: flex;
      align-items: center;
      margin: 0 10px;
      border: 1px solid rgba(0, 0, 0, 0.658);
      border-radius: 10px;
      padding: 10px 20px;

      .bpm-btn {

        color: rgb(145, 145, 145);
width: 40px;
height: 20px;
background: #252525;
text-align: center;
border-radius: 2px;
box-shadow: 0px 3px 0px #202020, inset 0px 1px 1px #ffffff1f, inset 0px 1px 0px #585858cc,  0px 5px 5px 2px #000000b4;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
font-family: $font;
text-transform: uppercase;
font-size: 0.5rem;
font-weight: 800;




      }

      .bpm-btn:hover {

        box-shadow: 0px 1px 0px #202020, inset 0px 0px 1px #ffffff31, inset 0px 1px 0px #5858582d;
        transform: scale(0.98) translateY(1px);
       cursor: pointer;
       transition: 120ms ease;
    
    
    }

      .bpm-container {

        display: flex;
        flex-direction: column;
align-items: center;
justify-content: center;
margin: 10px;

.active {

  color: #49FF18;
  text-shadow: 0 0 5px #FFF, 0 0 5px #49ff18;
}

      }

      .bpm {
        font-family: $font;
        text-transform: uppercase;
        font-size: 0.5rem;
        font-weight: 800;
        color: #035200;


      
      }

    }
    
    &__preset-panel {

      background: #161616;
      display: flex;
      align-items: center;
      border: 1px solid rgba(0, 0, 0, 0.658);
      border-radius: 10px;
      padding: 10px 20px;
      

      .preset-btn {

        color: rgb(145, 145, 145);
width: 40px;
height: 20px;
background: #252525;
text-align: center;
border-radius: 2px;
box-shadow: 0px 3px 0px #202020, inset 0px 1px 1px #ffffff1f, inset 0px 1px 0px #585858cc,  0px 5px 5px 2px #000000b4;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
font-family: $font;
text-transform: uppercase;
font-size: 0.5rem;
font-weight: 800;
margin: 0 5px;




      }

      .preset-btn:hover {

        box-shadow: 0px 1px 0px #202020, inset 0px 0px 1px #ffffff31, inset 0px 1px 0px #5858582d;
        transform: scale(0.98) translateY(1px);
       cursor: pointer;
       transition: 120ms ease;
    
    
    }

      .preset-container {

        display: flex;
align-items: center;
justify-content: center;
margin: 5px;
flex-direction: column;

span {

  margin: 1px;

}

.active {

  color: #49FF18;
  text-shadow: 0 0 5px #FFF, 0 0 5px #49ff18;
}

      }

      .preset {
        font-family: $font;
        text-transform: uppercase;
        font-size: 0.5rem;
        font-weight: 800;
        color: #035200;


      
      }

    }
    
    }

}